accelerate
cython
diffusers
easydict
faiss-cpu
ftfy
fvcore
imageio
mat4py
matplotlib
numpy
opencv-python
pandas
Pillow
prettytable
pyyaml
regex
safetensors
scikit-learn
scipy
tabulate
tensorboard
termcolor
timm
tqdm
transformers
yacs
